*{
    margin: 0;
    padding: 0;
}




nav{
    display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.texto{
    font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
    overflow-x: hidden;
    list-style: none;
    display: flex;
  }

  .nav-list li{
    letter-spacing: 3px;
  margin-left: 32px;
  }


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
  }
  
  p{
    margin-top: 15px;
  }

  body{
   background-image: url(ceu.jpg);
   background-size: 100%;
  }

  section > div > img{
    display: block;
  }


.container{
  display: flex;
  align-items: center;
  
  
}

.container img{
  width: 80%;
  height: 40%;
  margin-left: 8%;
  margin-top: 10%;
  border: solid #23232e 8px;
  border-radius: 10px;
 
  
}
 
.texto1{
  padding: 20px;
  width: 40%; 
  margin-top: 4%;
  text-align: justify;
  font-size: 20px;
}



